$darkBgColor: #282833;
$darkSubBgColor: #323240;
$darkMusicPlayBtnColor: #00b5a7;
$darkColor: #dadce6;
$darkMusicToolSongColor: #fff;
$darkMusicToolSingerColor: #818198;

$lightBgColor: #ffffff;
$lightSubBgColor: #edeef2;
$lightColor: #3f3f5a;
$lightMusicPlayBtnColor: #de3059;
$lightMusicToolSongColor: #3f3f5a;
$lightMusicToolSingerColor: #818198;
